server:
  port: 8080

spring:
  datasource:
    url: ${SPRING_DATASOURCE_URL}
    username: ${SPRING_DATASOURCE_USERNAME}
    password: ${SPRING_DATASOURCE_PASSWORD}
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect
        use_sql_comments: true
        jdbc:
          batch_size: 1000
          order_inserts: true
          order_updates: true
    show-sql: false

  data:
    redis:
      host: ${SPRING_DATA_REDIS_HOST}
      port: 6379

  rabbitmq:
    host: ${SPRING_RABBITMQ_HOST}
    port: 5671
    username: ${SPRING_RABBITMQ_USERNAME}
    password: ${SPRING_RABBITMQ_PASSWORD}
    ssl:
      enabled: true

logging:
  level:
    com.mmrtr.lolrepository.riot: INFO

riot:
  api-key: ${API_KEY}

rabbitmq:
  queue.name: sample.queue
  exchange.name: sample.exchange
  routing.key: sample.key

management:
  endpoints:
    web:
      exposure:
        include: health, info, metrics, prometheus
