---
spring:
  config:
    activate:
      on-profile: local

server:
  port: 8111

---
spring:
  config:
    activate:
      on-profile: prod

server:
  port: 8080

logging:
  level:
    com.mmrtr.lol.riot: INFO

management:
  endpoints:
    web:
      exposure:
        include: health
