---
spring:
  config:
    activate:
      on-profile: local

server:
  port: 8111

---
spring:
  config:
    activate:
      on-profile: prod

server:
  port: 8080

logging:
  level:
    root: WARN
    com.mmrtr.lol: INFO
    com.mmrtr.lol.infra.riot: INFO
    org.hibernate.SQL: OFF
    org.hibernate.type.descriptor.sql: OFF
    com.zaxxer.hikari: INFO
    org.springframework: WARN
    org.springframework.amqp: INFO

---
spring:
  config:
    activate:
      on-profile: dev

server:
  port: 8080

logging:
  level:
    root: INFO
    com.mmrtr.lol: DEBUG
    org.hibernate.SQL: DEBUG
