server:
  port: 8111

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/postgres
    driver-class-name: org.postgresql.Driver
    username: postgres
    password: 1234
  jpa:
    hibernate:
      ddl-auto: create
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect
        use_sql_comments: true
        jdbc:
          batch_size: 1000
          order_inserts: true
          order_updates: true

    show-sql: false

  data:
    redis:
      host: localhost
      port: 6379

  rabbitmq:
    host: localhost
    port: 5672
    username: guest
    password: guest

  kafka:
    consumer:
      bootstrap-servers: "localhost:10000,localhost:10001,localhost:10002"

riot.api.key: ${API_KEY}
management:
  endpoints:
    web:
      exposure:
        include: health, metrics

rabbitmq:
  queue.name: sample.queue
  exchange.name: sample.exchange
  routing.key: sample.key