spring:
  config:
    import:
      - classpath:application-api.yml
      - classpath:application-persistence.yml
      - classpath:application-redis.yml
      - classpath:application-rabbitmq.yml
      - classpath:application-riot.yml
  jackson:
    deserialization:
      fail-on-unknown-properties: false
    serialization:
      write-dates-as-timestamps: false
    time-zone: Asia/Seoul
  lifecycle:
    timeout-per-shutdown-phase: 30s

server:
  shutdown: graceful

management:
  endpoints:
    web:
      exposure:
        include: health
  endpoint:
    health:
      show-details: when_authorized
      probes:
        enabled: true
