# 공통 RabbitMQ 큐 설정
rabbitmq:
  queue.name: sample.queue
  exchange.name: sample.exchange
  routing.key: sample.key

---
spring:
  config:
    activate:
      on-profile: local
  rabbitmq:
    host: localhost
    port: 5672
    username: guest
    password: guest

---
spring:
  config:
    activate:
      on-profile: prod
  rabbitmq:
    host: ${RABBITMQ_HOST}
    port: ${RABBITMQ_PORT:5672}
    username: ${RABBITMQ_USERNAME}
    password: ${RABBITMQ_PASSWORD}
    virtual-host: ${RABBITMQ_VHOST:/}
    connection-timeout: 30000ms
    requested-heartbeat: 60s
    cache:
      channel:
        size: 25
        checkout-timeout: 3000ms
    listener:
      simple:
        prefetch: 10
        retry:
          enabled: true
          initial-interval: 1000ms
          max-attempts: 3
          max-interval: 10000ms
          multiplier: 2.0
    template:
      retry:
        enabled: true
        initial-interval: 1000ms
        max-attempts: 3

---
spring:
  config:
    activate:
      on-profile: dev
  rabbitmq:
    host: lol-rabbitmq
    port: 5672
    username: guest
    password: guest
    connection-timeout: 30000ms
