---
spring:
  config:
    activate:
      on-profile: local
  data:
    redis:
      host: localhost
      port: 6379

---
spring:
  config:
    activate:
      on-profile: prod
  data:
    redis:
      host: ${REDIS_HOST}
      port: ${REDIS_PORT:6379}
      password: ${REDIS_PASSWORD:}
      timeout: 3000ms
      connect-timeout: 3000ms
      lettuce:
        pool:
          enabled: true
          min-idle: 2
          max-idle: 8
          max-active: 16
          max-wait: 3000ms
        shutdown-timeout: 200ms

---
spring:
  config:
    activate:
      on-profile: dev
  data:
    redis:
      host: lol-redis
      port: 6379
      timeout: 3000ms
      connect-timeout: 3000ms
